<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.adminPro.mapper.SkillMapper">

    <resultMap id="SkillResultMap" type="com.company.adminPro.model.Skill">
        <id column="id" property="id" />
        <result column="skill_name" property="skillName" />
        <result column="description" property="description" />
    </resultMap>

    <select id="findAll" resultMap="SkillResultMap">
        SELECT * FROM public.skills
    </select>

    <select id="findById" resultMap="SkillResultMap" parameterType="long">
        SELECT * FROM public.skills WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="com.company.adminPro.model.Skill" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO public.skills(skill_name, description) VALUES(#{skillName}, #{description})
    </insert>

    <update id="update" parameterType="com.company.adminPro.model.Skill">
        UPDATE public.skills SET skill_name = #{skillName}, description = #{description} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM public.skills WHERE id = #{id}
    </delete>

</mapper>
